.main-menu{
  margin-left: 200px;
}

.navbar-login{
  margin-left: 130px;
}

/* setting page */
.form-setting{
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-setting input{
  width: 50%;
}

@media (max-width: 980px) {
  .form-setting input{
    width: 100% !important;
  }

  /* order history */
  .order-history-desktop{
    display: none;
  }

}

@media (max-width:420px)
{
	.product-grid-4 .col-12{
    width:50% !important;
  }
  .form-setting input{
    width: 100% !important;
  }

  /* order history */
  .order-history-desktop{
    display: none;
  }
}