
.main-menu{
  margin-left: 300px;
}

.navbar-login{
  margin-left: 240px;
}

.promosi-navbar-head{
  display: flex;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
}

.promosi-navbar{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  transition-timing-function: linear;
}

/* setting page */
.form-setting{
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-setting input{
  width: 50%;
}

.form-setting textarea{
  width: 50%;
}

/* order history */
.order-history-link{
  text-decoration:none !important;
  color: black !important;
}

.order-history-mobile{
  display: none;
}



/* favorit */
.favorit-mobile{
  display:none;
}

.favorit-desktop td,
.cart-table td,
.order-history-desktop td{
  height: 140px;
}

.favorit-desktop a,
.favorit-desktop span,
.cart-table a,
.cart-table span,
.cart-table input,
.order-history-desktop span{
  font-size: 15px;
}



/* produk */
.produk-img{
  height: 280px !important;
  object-fit: contain;
}

.produk-img-terbaru{
  object-fit: obtain;

}

.produk-terbaru{
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
}

.produk-terbaru-full{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-item: center;
}

/* kategori */
.kategori-gambar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.kategori-img{
  height: 144px !important;
  width: 100% !important;
  object-fit: contain;
}

/* pembayaran */
.layer1 {
  background-color: #f4f5f9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20%;
}
.layer1 .title {
  text-align: center;
  padding-top: 30px;
}
.layer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 95%;
  border-radius: 20px;
  margin: 20px 20px;
  
}
.text-pembayaran,
.detail-pembayaran {
  padding: 20px;
  width: 100%;
}
.pembayaran-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.detail-pembayaran h3 {
  margin-bottom: 30px;
}

.layer button{
  display: inline-block;
  align-items: center;
}

.detail-pembayaran-tombol {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.btn-pembayaran{
  width: 300px;
  margin-bottom: 10px
}

.btn-pembayaran-selesai{
  width: 300px;
  margin-right: 10px
}

.metode-pembayaran{ 
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.metode-pembayaran-selesai{ 
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}


.pesan-produk{
  width: 100%;
  border: 3px solid #f4f6f9;
  height: 150px;
  padding: 10px;
  margin-top:10px;
}

.kirim-pembayaran{
  border: 3px solid #f4f6f9;
  padding: 5% 20px;
}

.kirim-pembayaran-qris{
  border: 3px solid #f4f6f9;
  padding: 5% 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kirim-pembayaran-qris h3{
  text-align: center;
}

.kirim-pembayaran-qris img{
  margin-top: 30px;
  height: 400px;
  width: 400px;
}

.kirim-pembayaran-qris a{
  margin-top: 20px;
}

.kirim-pembayaran input{
  width: 100%;
}

.copy-text{
  display: flex;
}

.copy-text input{
  width: 90%;
}

.detail-produk-pembayaran{
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.judul-produk-pembayaran{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px solid #f4f6f9;
  height: 40px;
}

.judul-produk-pembayaran-selesai{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px solid #f4f6f9;
  height: 40px;
}

.judul-produk-pembayaran-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;    
  height: 40px;
}

.produk-pembayaran{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #f4f6f9;
}

.produk-pembayaran-selesai{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #f4f6f9;
}

.produk-pembayaran-total{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #f4f6f9;
  border-left: 3px solid #f4f6f9;
  border-bottom: 3px solid #f4f6f9;
}

.total-produk-pembayaran{
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.total-produk-pembayaran-selesai{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.total-produk-pembayaran-total{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #f4f6f9;
}

.nilai-produk-pembayaran{
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: 3px solid #f4f6f9;
}

.isi-produk-pembayaran{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px solid #f4f6f9;
  border-top: 0px;
  height: 150px;
}

.img-produk-pembayaran{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #f4f6f9;
}

.img-produk-pembayaran img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.desc-produk-pembayaran{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #f4f6f9;
}

.desc-produk-pembayaran a{
  font-size: 15px;
  white-space: normal;
}

.desc-produk-pembayaran p{
  font-size: 13px;
  white-space: normal;
}

.kirim-pembayaran p{
  margin-top: 10px;
}

.penilaian-produk{
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  
}

.page-kosong{
  margin-top: 100px;
  margin-bottom: 100px;
}

.pagination-style{
  width: 100%;
  display:flex;
  justify-content: center;
}

.pagination-margin{
  margin-bottom: 50px;
}

/* login */
.custom-login{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.custom-login-button{
  margin-right: 10px;
}

/* custom register */
.custom-register{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.custom-login-btn{
  display: flex;
  width: 100%;
  justify-content: center;
}

.custom-login-button{
  width: 100%;
}

.custom-login-google{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
}

.custom-register-google{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.img-custom-google-logo{
  margin-right: 10px;
}

.custom-login-google img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.custom-register-google img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.custom-button-google{
  width: 100%;
  border-radius: 5px;
}

.text-login-google{
  color: white;
  font-size: 15px;
  font-weight: 80;
}

.text-login-google:hover{
  color: white;
}

/* custom register */
.custom-register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.custom-register-button{
  width: 100%;
}

.custom-register-google{
  display: flex;
  flex-direction: row;
}

/* custom icon */
.social-icon{
  margin-right: 10px;
}


@media (max-width: 980px) {
  .form-setting input{
    width: 100% !important;
  }
  
  .form-setting textarea{
    width: 100% !important;
  }
  
  /* order history */
  .order-history-desktop{
    display: none !important;
  }
  
  .order-history-mobile{
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  
  .layer2 {
    margin: 10px 0;
    background-color: #f4f5f9;
    width: 95%;
    border-radius: 20px;
    
  }
  .order-history,
  .detail-pembayaran {
    padding: 20px;
  }
  .text-order-history {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .detail-pembayaran h3 {
    margin-bottom: 30px;
  }
  
  .garis {
    padding: 1px;
    background-color: black;
    display: flex;
  }
  
  /* favorit */
  .favorit-desktop{
    display: flex;
  }
  
  .favorit-mobile{
    display: none;
  }
  
  /* pembayaran */
  .layer1{
    margin: 20px 10%;
  }
  .layer2 {
    background-color: white;
  }
  
  .btn-pembayaran {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
}

@media (max-width:450px)
{
  .product-grid-4 .col-12{
    width:50% !important;
  }
  .form-setting input{
    width: 100% !important;
  }
  
  .form-setting textarea{
    width: 100% !important;
  }
  
  /* order history */
  .order-history-desktop{
    display: none !important;
  }
  
  .layer-order {
    margin : 10px;
    background-color: #f4f5f9;
    width: 95%;
    border-radius: 20px;
    align-items: center;
    
  }
  .order-history,
  .detail-pembayaran,
  .text-pembayaran {
    padding: 20px;
    width: 100%;
  }
  .text-order-history {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .detail-pembayaran h3 {
    margin-bottom: 30px;
  } */
  
  .garis {
    padding: 1px;
    background-color: black;
    display: flex;
  }
  
  /* favorit */
  .favorit-desktop{
    display: none;
  }
  
  .favorit-mobile{
    display: flex;
  }
  
  .layer-favorit{
    margin : 10px;
    background-color: #f4f5f9;
    width: 95%;
    height: 140px;
    border-radius: 20px;
  }
  
  .favorit-fill{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
  }
  
  .favorit-img{
    margin: 10px;
  }
  
  .favorit-img img{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .text-favorit{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 130px;
  }
  
  .text-favorit .judul-favorit{
    font-size: 20px !important;
  }
  
  .icon-favorit-cart{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  .cart-favorit{
    margin-bottom: 15px;
  }
  
  /* produk */
  .produk-img{
    height: 144px !important;
    object-fit: contain;
  }
  
  /* cart */
  .cart-desktop{
    display: none;
  }
  
  .layer-cart{
    margin : 10px;
    background-color: #f4f5f9;
    width: 95%;
    height: 170px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .text-favorit input{
    width: 60px;
    height: 40px;
  }
  
  .text-favorit .text-harga{
    position: relative;
    top: 8px;
  }
  
  .favorit-fill .icon-cart-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
  }
  
  .cart-totals{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-icon-gabung{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
  }
  
  /* pembayaran */
  .layer1{
    margin: 20px 0;
  }
  .layer2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .detail-pembayaran-tombol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .btn-pembayaran {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .kirim-pembayaran-qris img{
    margin-top: 30px;
    height: 300px;
    width: 300px;
  }
  
  .metode-pembayaran{
    margin-top: 40px;
  }
  
  .kirim-pembayaran{
    display: flex !important;
    flex-direction: column !important;
  }
  
  .kirim-pembayaran-selesai{
    display: flex !important;
    flex-direction: column !important;
  }
  
  .kirim-pembayaran input{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  
  .img-produk-pembayaran img{
    width: 70px;
    height: 70px;
  }
  
  .desc-produk-pembayaran a{
    font-size: 12px;
  }
  
  .total-produk-pembayaran p{
    font-size: 13px;
  }
  
  .judul-produk-pembayaran-selesai h4{
    font-size: 12px;
  }
  
  .judul-produk-pembayaran-total h5{
    font-size: 12px;
  }
  
  .total-produk-pembayaran-selesai p{
    font-size: 12px;
  }
  
  .nilai-produk-pembayaran{
    font-size: 12px;
  }
  
  /* login */
  .custom-login{
    width: 100%;
    
  }
  
  .custom-button-google{
    size: 5px;
    font-size: 12px;
  }
  
  /* .custom-login-button{
  } */
  
  
  /* custom register */
  .custom-register{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .custom-register-button{
    margin-right: 10px;
  }
  
  .custom-register-google{
    height: 49px;
  }
  
  .image-register{
    display:none;
  }
  
  
}

/* rating */
.rating-css div {
  color: #ffb300;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 40px;
  text-shadow: 1px 1px 0 #b4afaf;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #b4afaf;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

/* End of Star Rating */